.container .title {
    color: #121212;
    font-size: 2.5rem;
    text-align: center;
    margin: 4rem 0 1rem;
}

.title .query-text {
    color: #f7d354;
}

.imoveis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.imoveis-container div {
    /* width: 30%; */
    color: #121212;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #cecece;
    padding: 1rem 1rem 0 1rem;
    border-radius: 8px;
}

.imoveis-container div img {
    max-width: 100%;
    border-radius: 8px;
}

.imoveis-container .text {
    width: 100%;
    padding: 0.5rem 0 0 0;
}

.imoveis-container div img,
.imoveis-container div h2,
.imoveis-container div p {
    margin-bottom: 0.6rem;
}

.imoveis-container div svg {
    color: #f7d354;
}

.imoveis-container div a {
    background-color: #f7f354;
    border: 2px solid #f7f354;
    border-radius: 8px;
    color: #000;
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transform: 0.4s;
    text-align: center;
}

.imoveis-container div a:hover {
    background-color: transparent;
    color: #f7f354;
}